<div class="content6">
    <div class="cont6-main">
        <div class="data">
            <div class="con5-head">
                <h2>Code<span>Rido</span></h2>
                <div class="line"></div>
            </div>
            <div class="con5-about">
                <p>Lorem ipsum dolor sit, amet <br>consectetur adipisicing elit. <br>Porro voluptatibus
                    excepturi <br> laudantium unde.</p>
            </div>
            <div class="con5-email">
                <p>anuragyadava73156@gmail.com</p>
                <p>heipbycoderido29@gmail.com</p>
                <p>+91-7317567903</p>
            </div>

            <div class="con5-line">
                <div class="lines"></div>
            </div>
            <div class="con5-social">
                <p>
                    Explore Online
                </p>
                <div class="social-icon">
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-square-github"></i>
                    <i class="fa-brands fa-square-facebook"></i>

                </div>
            </div>

        </div>
        <div class="datas">
            <div class="pract-head">
                <h3>Practice</h3>
            </div>
            <div class="prac-topic">
                <ul type="none">
                    <li><a href="#">Data Structure</a></li>
                    <li><a href="#">SQL</a></li>
                    <li><a href="#">Algorithm</a></li>
                    <li><a href="#">Dynamic Programming</a></li>
                    <li><a href="#">Greedy Algorithm</a></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="datas">
            <div class="pract-head">
                <h3>Learning</h3>
            </div>
            <div class="prac-topic">
                <ul type="none">
                    <li><a href="#">DSA</a></li>
                    <li><a href="#">Java</a></li>
                    <li><a href="#">Python</a></li>
                    <li><a href="#">Frontend Development</a></li>
                    <li><a href="#">React</a></li>
                    <li><a href="#">Tailwind</a></li>
                    <li><a href="#">BootStrap</a></li>
                    <li><a href="#">SQL</a></li>
                    <li><a href="#">MERN</a></li>
                </ul>
            </div>
        </div>
        <div class="datas">
            <div class="pract-head">
                <h3>Certification</h3>
            </div>
            <div class="prac-topic">
                <ul type="none">
                    <li><a href="#">Data Structure</a></li>
                    <li><a href="#">Software Engineering</a></li>
                    <li><a href="#">Algorithm</a></li>
                    <li><a href="#">Programming Languages</a></li>
                    <li><a href="#">Frontend Development(React)</a></li>
                    <li><a href="#">Frontend Development(Bootstrap)</a></li>
                    <li><a href="#">Full-Stack Web Developer</a></li>
                </ul>
            </div>
        </div>
        <div class="datas">
            <div class="pract-head">
                <h3>Practice</h3>
            </div>
            <div class="prac-topic">
                <ul type="none">
                    <li><a href="#">Data Structure</a></li>
                    <li><a href="#">SQL</a></li>
                    <li><a href="#">Algorithm</a></li>
                    <li><a href="#">Dynamic Programming</a></li>
                    <li><a href="#">Greedy Algorithm</a></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <button>Contact for Advertising</button>
        <p>@2025CodeRido.All_Rights_Are_reserved-Copy_Right_Anurag_Yadav</p>
    </div>
</div>