<% layout("/Layout/boilerplate.ejs") %>

    <body>
        <div class="cert-contant">
            <button class="back"><i class="fa-solid fa-left-long"></i> Back</button>
            <div class="content1">
                <div class="box" style="width: 60%;">
                    <h3>Earn Your Certification as a</h3>
                    <h1>Algorithm</h1>
                    <a href="/CodeRido/certificate/bootstrap/Data%20Structures%20and%20Algorithms" class="fst">Get Certified</a>
                    <p>Take your career forward with CodeRido and also <br> globally trusted certifications for tech
                        professionals.</p>
                </div>
                <div class="box2" style="width: 30%;">
                    <div class="boot-logo">
                        <img src="/images/Algo.png" alt="Bootstrap Image">
                    </div>
                </div>
            </div>
            <div class="content2">
                <div class="about-cert">
                    <div class="boxes">
                        <i class="fa-solid fa-timeline"></i>
                        <p>Complete a 1 hour 15 mins <br> certification test</p>
                    </div>
                    <div class="line"></div>
                    <div class="boxes">
                        <i class="fa-solid fa-layer-group"></i>
                        <p>Solve 3 skill <br> based questions</p>
                    </div>
                    <div class="line"></div>
                    <div class="boxes">
                        <i class="fa-solid fa-plane-departure"></i>
                        <p>Showcase your skills in <br> Problem Solving using BootStrap Concepts.</p>
                    </div>
                    <div class="line"></div>
                    <div class="boxes">
                        <i class="fa-solid fa-arrow-up-right-dots"></i>
                        <p>Earn a CodeRido <br> certificate</p>
                    </div>
                </div>
            </div>
            <div class="content3">
                <div class="boxes">
                    <div class="info">
                        <h2>Get you own Certificate</h2>
                        <p>You can proudly showcase it on your LinkedIn, resume,<br> or CV — and it might even give you
                            an edge <br> during appraisals or job interviews!"</p>
                    </div>
                </div>
                <div class="boxes2">
                    <img src="Bootcert.png" alt="">
                </div>
            </div>
            <div class="content4">
                <div class="get-start">
                    <h1>Opportunities like this don’t wait — why should you?</h1>
                    <a href="/CodeRido/certificate/bootstrap/Data%20Structures%20and%20Algorithms" class="fst">Get Started</a>
                </div>
            </div>
            
        </div>
    </body>