<% layout("/Layout/boilerplate.ejs") %>

    <body>
        <div class="contant">
            <div class="content1">
                <div id="info">
                    <p>Certification just a click away</p>
                    <h2>Get certified to validate your skills</h2>
                </div>
                <div class="home-page">
                    <button id="home"><i class="fa-solid fa-house"></i> Home</button>
                </div>
            </div>
            <div class="content2">
                <div class="con-header">
                    <h2>Claim Role Certificate <span>|</span></h2>
                </div>
                <div class="role">
                    <div class="card">
                        <div class="head">
                            <div class="bts">
                                <img src="/images/Bootstrap.png" alt="">
                            </div>
                        </div>
                        <div class="about">
                            <h4>Frontend Devloper(Bootrstrap)<h4>
                        </div>
                        <div class="discr">
                            <p>This certification recognizes proven <br>expertise in building scalable,<br>
                                component-driven user interfaces <br>using React</p>
                        </div>
                        <div class="start">
                            <a href="/CodeRido/certificate/bootstrap" class="fst">Get Certified</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="head1">
                            <div class="bts">
                                <img src="/images/React.png" alt="">
                            </div>
                        </div>
                        <div class="about">
                            <h4>Frontend Devloper(React)<h4>
                        </div>
                        <div class="discr">
                            <p>This certification recognizes proven <br>expertise in building scalable,<br>
                                component-driven user interfaces <br>using React</p>
                        </div>
                        <div class="start">
                            <a href="/CodeRido/certificate/React" class="fst">Get Certified</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="head2">
                            <div class="bts">
                                <img src="/images/Tailwind.png" alt="">
                            </div>
                        </div>
                        <div class="about">
                            <h4>Frontend Devloper(TailWind)<h4>
                        </div>
                        <div class="discr">
                            <p>This certification recognizes proven <br>expertise in building scalable,<br>
                                component-driven user interfaces <br>using React</p>
                        </div>
                        <div class="start">
                            <a href="/CodeRido/certificate/tailwind" class="fst">Get Certified</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="head3">
                            <div class="bts">
                                <img src="/images/HTML.png" alt="">
                            </div>
                        </div>
                        <div class="about">
                            <h4>Full-Stack Web Developer<h4>
                        </div>
                        <div class="discr">
                            <p>This certification recognizes proven <br>expertise in building scalable,<br>
                                component-driven user interfaces <br>using React</p>
                        </div>
                        <div class="start">
                            <a href="/CodeRido/certificate/fullstack" class="fst">Get Certified</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content3">
                <div class="con3-header">
                    <h2>Programming Languages <span>|</span></h2>
                </div>
                <div class="programing">
                    <div class="pro-card">
                        <div class="pro-head">
                            <div class="pro-logo">
                                <img src="/images/c.png" alt="">
                            </div>
                        </div>
                        <div class="pro-name">
                            <h3>Start with C</h3>
                        </div>
                        <div class="pro-get">
                            <a href="/CodeRido/certificate/c" class="C">Get Certified</a>
                        </div>
                    </div>
                    <div class="pro-card">
                        <div class="pro-head">
                            <div class="pro-logo">
                                <img src="/images/c++.png" alt="">
                            </div>
                        </div>
                        <div class="pro-name">
                            <h3>Start with C++</h3>
                        </div>
                        <div class="pro-get">
                            <a href="/CodeRido/certificate/cplus" class="C">Get Certified</a>
                        </div>
                    </div>
                    <div class="pro-card">
                        <div class="pro-head">
                            <div class="pro-logo">
                                <img src="/images/java.png" alt="">
                            </div>
                        </div>
                        <div class="pro-name">
                            <h3>Start with Java</h3>
                        </div>
                        <div class="pro-get">
                            <a href="/CodeRido/certificate/java" class="C">Get Certified</a>
                        </div>
                    </div>
                    <div class="pro-card">
                        <div class="pro-head">
                            <div class="pro-logo">
                                <img src="/images/python.png" alt="">
                            </div>
                        </div>
                        <div class="pro-name">
                            <h3>Start with Python</h3>
                        </div>
                        <div class="pro-get">
                            <a href="/CodeRido/certificate/python" class="C">Get Certified</a>
                        </div>
                    </div>
                </div>
                <div class="programing">
                    <div class="pro-card">
                        <div class="pro-head">
                            <div class="pro-logo">
                                <img src="/images/swift.png" alt="">
                            </div>
                        </div>
                        <div class="pro-name">
                            <h3>Start with Swift</h3>
                        </div>
                        <div class="pro-get">
                            <a href="/CodeRido/certificate/swift" class="C">Get Certified</a>
                        </div>
                    </div>
                    <div class="pro-card">
                        <div class="pro-head">
                            <div class="pro-logo">
                                <img src="/images/kotiln.png" alt="">
                            </div>
                        </div>
                        <div class="pro-name">
                            <h3>Start with Kotlin</h3>
                        </div>
                        <div class="pro-get">
                            <a href="/CodeRido/certificate/kotlin" class="C">Get Certified</a>
                        </div>
                    </div>
                    <div class="pro-card">
                        <div class="pro-head">
                            <div class="pro-logo">
                                <img src="/images/sql.png" alt="">
                            </div>
                        </div>
                        <div class="pro-name">
                            <h3>Start with SQL</h3>
                        </div>
                        <div class="pro-get">
                            <a href="/CodeRido/certificate/sql" class="C">Get Certified</a>
                        </div>
                    </div>
                    <div class="pro-card">
                        <div class="pro-head">
                            <div class="pro-logo">
                                <img src="/images/js.png" alt="">
                            </div>
                        </div>
                        <div class="pro-name">
                            <h3>Start with JScript</h3>
                        </div>
                        <div class="pro-get">
                            <a href="/CodeRido/certificate/javscript" class="C">Get Certified</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content4">
                <div class="dsa-head">
                    <h2>Data Structure & Algorithm <span>|</span></h2>
                </div>
                <div class="dsa-cont">
                    <div class="structure"
                        style="background-image: linear-gradient(to right , rgb(235, 159, 16), white);">
                        <div class="stry-head">
                            <div class="stry-log">
                                <img src="/images/DS.png" alt="">
                            </div>
                        </div>
                        <div class="stry-data">
                            <h3>Data Structure</h3>
                        </div>
                        <div class="stry-abt">
                            <p><span>Topic : </span> Stack, Queue, LinkedList, ArrayLis, Heap </p>
                        </div>

                        <div class="stry-btn">
                            <a href="/CodeRido/certificate/bootstrap">Overview</a>
                            <a href="/CodeRido/certificate/datastructure" class="C">Get Certified</a>
                        </div>
                    </div>
                    <div class="structure" style="background-image: linear-gradient(to right , #114f9f, white);">
                        <div class="stry-head">
                            <div class="stry-log">
                                <img src="/images/Algo.png" alt="">
                            </div>
                        </div>
                        <div class="stry-data" style="color: white;">
                            <h3>Algorithm</h3>
                        </div>
                        <div class="stry-abt">
                            <p style="color: white;"><span>Topic : </span> Arrays, Strings, Sorting, Binary Search
                                <br>Greedy Algorithms, Dynamic Programming
                            </p>
                        </div>

                        <div class="stry-btn">

                            <a href="#" style="color: white;">Overview</a>
                            <a href="/CodeRido/certificate/algorithm" class="C">Get Certified</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content5">

            </div>

    </body>